/* .cascad {
    width: 200px;
    height: 200px;
    background-color: green;
    background-color: red;
    background-color: orange;
} */

/* div {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    background-color:  rgb(255, 77, 0);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 28px;
} */

/* .round {
    border-radius: 50%;
} */

/* #sun {
    background-color: orange;
} */


/* .text__wrapper {
    font-weight: 100;
    font-size: 40px;
} */

/* .text_px {
    font-size: 20px;
} */
/* .text_pr{
    font-size: 70%;
} */

/* .text_em {
    font-size: 1.2em;
} */

/* html {
    font-size: 50px;
}

.text_rem {
    font-size: 0.5rem;
} */

/* vw, vh, vmin, vmax – относительно размера экрана. */
/* px – абсолютные пиксели, */
/* em – задаёт размер относительно шрифта родителя */


/* .block {
    width: 200px;
    height: 200px;
    background-color: orange;
    border: 5px solid red;
    padding: 50px;
    margin: 100px;
} */

/* .block_content {
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
} */


/* 
.flex__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content:  space-evenly;
    border: 2px dotted black;
    align-items: end;
    flex-wrap: wrap;
}

.flex__element {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 28px;
} */




/* .adaptive {
    width: 1300px;
    height: 200px;
    background-color: orange;
    margin: 50px;
    width: 80%;
} */

/* @media screen and (max-width: 1600px) {

    .adaptive {
        background: red;
        width: 1000px;
    }
}

@media screen and (max-width: 1280px) {

    .adaptive {
        background: greenyellow;
        width: 700px;
    }
}

@media screen and (max-width: 768px) {

    .adaptive {
        background: lightblue;
        width: 400px;
    }
} */